volumes:
    rsstodolist_db_data:

services:
    rsstodolist:
        build:
            context: ../
            dockerfile: ./Dockerfile
        environment:
            - TZ="Etc/GMT+1"
            - PORT=6070
            - DATABASE_HOST=db
            - DATABASE_USER=rsstodolistUser
            - DATABASE_PASS=SomePassword
            - DATABASE_NAME=rsstodolist
            - CONTAINER_EXT_PORT=8080
            - PUBLIC=true
        ports:
            - 8080:6070
        depends_on:
            - db

    db:
        #image: 'mariadb:latest'
        #environment:
        #   - DATABASE_DIALECT=mariadb
        #   - DATABASE_PORT=3306
        #   - MYSQL_DATABASE=rsstodolist
        #   - MYSQL_USER=rsstodolistUser
        #   - MYSQL_PASSWORD=SomePassword
        #   - MYSQL_RANDOM_ROOT_PASSWORD=yes
        #volumes:
        #    - 'rsstodolist_db_data:/var/lib/mysql'
        #    - ../sql/rsstodolist.mysql:/docker-entrypoint-initdb.d/rsstodolist.sql
        image: 'postgres:latest'
        shm_size: 128mb
        ports:
            - 5432:5432
        environment:
            - DATABASE_DIALECT=postgres
            - DATABASE_PORT=5432
            - POSTGRES_USER=rsstodolistUser
            - POSTGRES_PASSWORD=SomePassword
            - POSTGRES_DB=rsstodolist
        volumes:
            - 'rsstodolist_db_data:/var/lib/postgresql/'
            - ../sql/rsstodolist.postgres:/docker-entrypoint-initdb.d/rsstodolist.sql
